#anchor{
    -fx-background-color: "darkblue";
}

.label{
    -fx-font-family: "Bodoni MT";
}

.button{
    -fx-border-width: 0 1 1 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
}
